body {
    margin: 0;
    max-width: 1400px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

button {
    background-color: #2F3F9F;
    color: #ffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    margin-right: 25px;
    border: 0;
}
h2 {
    font-size: 45px;
}
/* Header CSS */
#header {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #DDF4FF;
}

.container {
    width: 85%;
    margin: 0 auto;
}
.logo {
    display: inline-block;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 900;
    color: black;
}
.hero-text {
    width: 50%;
    display: inline-block;
}
.hero-text h1 {
    font-size: 80px;
}
.hero-text span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#DDF4FF 0% 60%, #B8E1FF 60% 100%);
}

.hero-text p {
    font-size: 30px;
}

.credit {
    background-color: transparent;
    color: #A30000;
    border: 2px solid #ff0000;
}

.hero-img {
    width: 50%;
    float: right;
}
.hero-img img {
    width: 80%;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 20%;
}


/* Services CSS */
#services {
    width: 85%;
    margin: auto;
    overflow: hidden;
    padding-top:5%;
    padding-bottom: 3%;
}
.service-text {
    width: 70%;
    margin:  auto;
}
.service-text h3 {
    margin: 0;
    text-align: center;
    font-size: 70px;
}
.service-text span {
    color: #A30000;
    font-style: italic;
    background-image: linear-gradient(#FFFFFF 0% 60%,#FFF3CD 60% 100%);
}
.service-item {
    margin-top: 10%;
}
.service-card {
    width: 23%;
    float: left;
    margin-right: 2%;
}
.service-card a {
    text-decoration: none;
}

/* portfolio  CSS */
#portfolio {
    width: 85%;
    margin: auto; 
    overflow: hidden;  
    padding-bottom: 5%;
}
.portfolio-text {
    width: 50%;
    margin:5% auto;
    text-align: center;
    font-size: 35px;
}
.portfolio-text span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#FFFFFF 0% 60%,#FFF3CD 60% 100%);
}
.card-1 {
    width: 32%;
    float: left;
    margin-right: 2%;
}
.card-2 {
    width: 32%;
    float: left;
}
.card-3 {
    width: 32%;
    float: right;
}
.pic-1 {
    width: 100%;
    margin-bottom: 4%;
}
.pic-1 img {
    width: 100%;
    border-radius: 10px;
}

.pic-2 {
    width: 100%;
}
.pic-2 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4%;
}    
.pic-3 {
    width: 100%;
}
.pic-3 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4%;
}  

/* About CSS */
#about {
    background-color: #F2FAFA;
    min-height: 400px;
    overflow: hidden;
    padding-bottom: 5%;
}
.about {
    width: 85%;
    margin: 0 auto;
    padding: 5% 0;
}
.about-img {
    display: inline-block;
    width: 50%;
}
.about-text {
    width: 50%;
    float: right;
}
.about-text span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#F2FAFA 0% 60%,#B8E1FF 60% 100%);
}
/* .about-text h2 {
    font-size: 46px;
} */
.about-text p {
    font-size: 25px;
}
.highlight p {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DEE2E6;
    margin: 0;
    padding: 15px;
    font-size: 18px;
}

.satisfaction {
    margin-top: 5%;
}
/* .satisfaction h2 {
    font-size: 45px;
} */
.satisfaction p {
    font-size: 20px;
    text-transform: capitalize;
    color: #6C757D;
 
}
.happy-customer {
    width:23% ;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2% 0;
    float: left;
    margin-right: 2.5%;
    border-radius: 10px;
    border-bottom: 1px solid #3343A1;
}
.award {
    width:23% ;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2% 0;
    float: right;
    border-radius: 10px;
    border-bottom: 1px solid #3343A1;
}

/* Team CSS */
#team {
    background-color: #FFFFFF;
    overflow: hidden;
    min-height: 400px;
    padding-top: 5%;
    padding-bottom: 3%;
}
.team {
    width: 85%;
    margin: 0 auto;
}
.team-text {
    width: 50%;
    margin:0 auto;
    text-align: center;
}
.team-text span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#FFFFFF 0% 60%,#FFF3CD 60% 100%);
}
.member {
    width:23% ;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2% 0;
    float: left;
    margin-right: 2.5%;
    border-radius: 10px;
    border-bottom: 1px solid #3343A1; 
}
.member img {
    width: 100%;
}
.last-member {
    width:23% ;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2% 0;
    float: right;
    border-radius: 10px;
    border-bottom: 1px solid #3343A1; 
}
.last-member img {
    width: 100%;
}

.team-member h5 {
    font-size: 25px;
    margin: 0;
    margin-top: 15px;
}
.team-member p {
    color: #6C757D;
    margin-bottom: 0;
}

/* Price CSS */
#price {
    background-color: #FCF6F0;
    min-height: 400px;
    padding-top: 3%;
    padding-bottom: 2%;
    overflow: hidden;
}
.price {
    width: 85%;
    margin: 0 auto;
}
.price-text {
    margin-top: 10%;
    width: 40%;
    display: inline-block;
}
.price-text h2 {
    font-size: 60px;
    margin-top: 15%;
}
.price-text span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#FCF6F0 0% 60%,#FFF3CD 60% 100%);
}
.price-text p{
    color: #212529;
    font-size: 25px;
}
.price-chart {
    width: 50%;
    float: right;
}
.chart-1 {
    width: 40%;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 16px;
}
.chart-2 {
    width: 40%;
    float: right;
    padding: 25px;
}
.chart-1, .chart-2 {
	background-color: #ffffff;
	border-radius: 14px;
}
.intro {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
}

.rate{
    font-size: 60px;
    margin: 0;
    color: #2F3F9F;
}

.package {
    color: #847592;
}
.package-item {
    list-style: none;
    padding: 0;
}

.package-item li {
    border-bottom: 1px solid #847592;
    padding: 15px 0 15px 27px;
}
.price-btn {
    background-color: #A30000;
    margin:25px 0 ;
}
/* Client CSS */
#client {
    background-color: #FFFFFF;
    overflow: hidden;
    min-height: 400px;
    padding: 5% 0;
}
.client {
    width: 85%;
    margin: 0 auto;
}
.client-text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
/* .client-text h2 {
    font-size: 40px;
} */
.client-text span {
    color: #A30000;
    font-style: italic;
    background-image: linear-gradient(#FFFFFF 0% 60%,#FFF3CD 60% 100%);
}
.client-card, .client-card-1 {
    width: 28%;
    background-color: #FAFAFA;
    padding: 23px;
    border-radius: 5px;
    border-bottom: 1px solid #0000ff;
    float: left;
    margin-right: 1.8%;
}
.client-card-1 {
    float: right;
    margin-right: 0;
}
.client-card img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #DEE2E6;
}
.client-card-1 img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #DEE2E6;
}
/* Blog CSS */
#blog {
    background-color: #F7F4E9;
    min-height: 400px;
    overflow: hidden;
    padding: 3% 0;
}
.blog {
    width: 85%;
    margin: 0 auto;
}
.blog-text {
    width: 50%;
    display: inline-block;
}
.blog-text h2 {
    margin-top: 15%;
}
.blog-text p {
    font-size: 30px;
  }
.blog span {
    font-style: italic;
    color: #A30000;
    background-image: linear-gradient(#F7F4E9 0% 60%,#FFF3CD 60% 100%);
}
.blog-item {
    width: 50%;
    float: right;
}
.blog-card  {
    width: 100%;
    display: inline-block;
}
.blog-card h4 {
    text-transform: capitalize;
    color: #2F3F9F;
    font-weight: 900;
}
.blog-card p{
    color: #212529;
    font-size: 20px;
}
.blog-card img {
    width: 100%;
    border-radius: 10px;
}
.blog-card-1 {
    width: 48%;
    display: inline-block;
}
.blog-card-2 {
    width: 48%;
    float: right;
}
/* Contact CSS */
#contact {
    background-color: #FFFFFF;
    min-height: 400px;
    overflow: hidden;
    padding: 3% 0;
}

.contact {
    width: 85%;
    margin: 0 auto;
}
.contact-img {
    width: 48%;
    display: inline-block;
}
.contact-img img {
    width: 100%;
    border-radius: 10px;
}
.contact-info {
    width: 48%;
    float: right;
    padding-left: 10px;
}
.contact-info h3 {
    text-transform: capitalize;
    font-size: 40px;
    padding-left: 3%;
}
.contact-info h4 {
    font-size: 25px;
    padding-left: 3%;
}
.contact-info p {
    color: #6C757D;
    padding-left: 3%;
}
/* Footer CSS */
#footer  {
    background-color: #FAFAFA;
    min-height: 400px;
}
.footer {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #847592;
    overflow: hidden;
    padding-bottom: 3%;
}
.footer-widget {
    width: 85%;
    padding: 5% 0;
    margin: 0 auto;
}
.footer-img {
    width: 15%;
    display: inline-block;
}

.footer-items {
    width: 80%;
    float: right;
}
.footer-items h4 {
    font-size: 25px;
    margin-top: 0;
}
.footer-items ul {
    list-style: none;
    padding: 0;
}
.footer-address {
    width: 30%;
    float: left;
}
.footer-address ul li {
    padding: 10px 0;
}
.footer-outlet {
    width: 30%;
    float: left;
}
.footer-outlet ul li {
    padding: 0 0 10px 0;
}
.footer .newsletter {
    width: 40%;
    float: right;
}
.footer .newsletter input {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    border: 1px solid #DEE2E6;
    padding-left: 10px;
}
.footer .newsletter button {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    margin-top: 20px;
}

.main-footer {
    width: 85%;
    margin: 0 auto;
    padding: 5% 0;
}
.footer-text {
    width: 50%;
    display: inline-block;
}
.footer-text p {
    margin: 0;
}
.footer-icon {
    width: 50%;
    float: right;
    text-align: end;
}
.footer-icon img {
    width: 10%;
    margin-right: 15px;
}
